.pink {
    background-color: #F8E0E0;
}
.blue {
    background-color: #5fb4ff;
}
.green {
    background-color: #D8F6CE;
}
.lightgreen {
    background-color: #CEF6F5;
}
.yellow {
    background-color: #fffe80;
}
.orange {
    background-color: #ff6500;
}